<title>Shopping List</title>
<h1>Shopping List</h1><br>
#foreach ( $entry in $entries )
    $entry.name : $entry.comment
    <a href="edit/$entry.id">update</a>
<form method="POST" action="/delete/$entry.id">
    <input type="submit" value="Delete">
</form>
#end

<form method="POST" command="form">

    <p>

        #springBind("form.name")#springShowErrors("<br/>", "text-danger")
        Item: #springFormInput("form.name")

        </br>

        #springBind("form.comment")#springShowErrors("<br/>", "text-danger")
        Desc/Quantity: #springFormInput("form.comment")

        <input type="submit"/>

    </p>

</form>
